@font-face {
	font-family: gothamBold;
	src: url(fonts/Gotham-Bold.otf);
	font-weight: bold;
}

@font-face {
	font-family: gothamBook;
	src: url(fonts/Gotham-Book.otf);
}

@font-face {
	font-family: gothamMedium;
	src: url(fonts/Gotham-Medium.otf);
	font-weight: normal;
}

body {
	margin: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
}


.banner {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 300;
	height: 250px;
	background-color: lightgray;
}

.imgLogo {
	width: 100px;
	height: 100px;
	margin: 10px 0px 0px 10px;
}

.infoText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 26px;
}

h1 {
	font-family: gothamBold, serif;
	color: #6f6f6f;
}

h2 {
	/* font-family: gothamBold, serif; */
	font-family: gothamBook, sans-serif;
	padding: 10px 20px;
	margin: 0px;
	color: #6f6f6f;
}

button {
	padding: 0px;
	/* border: solid 1px white; */
	border: none;
}

button :hover {
	cursor: pointer;
	background-color: #6f6f6f;
	color: white;
}

.productImg {
	margin: 40px 16px 40px 0px;
	display: flex;
	flex-direction: row;
}